*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/database/seeders/AdminSeeder.php
/database/seeders/AlbertSeeder.php
/database/seeders/AntoineSeeder.php
/database/seeders/BeukSeeder.php
/database/seeders/BudSeeder.php
/database/seeders/FransSeeder.php
/database/seeders/GuusSeeder.php
/database/seeders/JacSeeder.php
/database/seeders/JohanSeeder.php
/database/seeders/JohnSeeder.php
/database/seeders/PatrickSeeder.php
/database/seeders/RichardSeeder.php
/database/seeders/RolandSeeder.php
/database/seeders/RonSeeder.php
/database/seeders/RuudSeeder.php